:root {
    --color-white: #fff;
    --color-black: #000;
    --color-gray-light: #eee;
    --color-gray-dark: #999;
    --color-cream: #FFF9E9;
    --color-brown: #845831;
    --color-orange: #F7931D;
    --color-red: #d21625;
    --color-shade-light: rgba(0,0,0, 0.03);
    --color-shade-dark: rgba(0,0,0, 0.1);
    --color-shade-faux: #f7f1e3;
    
    --border-faint: 1px solid var(--color-shade-dark);
    
    --font-primary: 'Twentieth Century', 'Poppins', sans-serif;
    
    --icon-tested-new: url("data:image/svg+xml,%3Csvg width='56' height='56' viewBox='0 0 56 56' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_173_33)'%3E%3Cpath d='M8 1H48C51.866 1 55 4.13401 55 8V48C55 51.866 51.866 55 48 55H8C4.13401 55 1 51.866 1 48V8C1 4.13401 4.13401 1 8 1Z' stroke='%23F7931D' stroke-width='2'/%3E%3Cpath d='M42.2221 20.9603L20.6711 42.5149C20.1994 42.9866 19.6395 43.3608 19.0233 43.6162C18.4071 43.8715 17.7466 44.003 17.0796 44.003C15.7324 44.0032 14.4404 43.4682 13.4877 42.5158C12.535 41.5633 11.9997 40.2714 11.9995 38.9243C11.9993 37.5771 12.5343 36.2851 13.4868 35.3324L35.0378 13.7778' stroke='%23F7931D' stroke-width='4' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M33.6437 29.5422L20.6711 42.5149C20.1994 42.9866 19.6395 43.3609 19.0233 43.6162C18.4071 43.8715 17.7466 44.003 17.0796 44.0031C15.7324 44.0033 14.4404 43.4683 13.4877 42.5158C12.535 41.5634 11.9997 40.2714 11.9995 38.9243C11.9993 37.5772 12.5343 36.2851 13.4868 35.3324L19.277 29.5422' fill='%23F7931D'/%3E%3Cpath d='M33.6437 29.5422L20.6711 42.5149C20.1994 42.9866 19.6395 43.3609 19.0233 43.6162C18.4071 43.8715 17.7466 44.003 17.0796 44.0031C15.7324 44.0033 14.4404 43.4683 13.4877 42.5158C12.535 41.5634 11.9997 40.2714 11.9995 38.9243C11.9993 37.5772 12.5343 36.2851 13.4868 35.3324L19.277 29.5422' stroke='%23F7931D' stroke-width='4' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M19.1099 29.7784H33.3326' stroke='%23F7931D' stroke-width='4' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M39.2612 37.5198L40.4439 36.2583L41.6265 37.5198C41.8156 37.741 41.9389 38.011 41.9822 38.299C42.0268 38.5951 41.985 38.8977 41.8618 39.1706C41.7386 39.4435 41.5393 39.675 41.2878 39.8374C41.0363 39.9998 40.7433 40.0862 40.4439 40.0862C40.1445 40.0862 39.8515 39.9998 39.5999 39.8374C39.3484 39.675 39.1491 39.4435 39.026 39.1706C38.9028 38.8977 38.861 38.5951 38.9055 38.299C38.9489 38.011 39.0722 37.741 39.2612 37.5198Z' fill='%23F7931D' stroke='%23F7931D' stroke-width='4' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M33.3325 12L43.9996 22.6671' stroke='%23F7931D' stroke-width='4' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_173_33'%3E%3Crect width='56' height='56' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
    --icon-approved-new: url("data:image/svg+xml,%3Csvg width='56' height='56' viewBox='0 0 56 56' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_174_41)'%3E%3Cpath d='M8 1H48C51.866 1 55 4.13401 55 8V48C55 51.866 51.866 55 48 55H8C4.13401 55 1 51.866 1 48V8C1 4.13401 4.13401 1 8 1Z' fill='%2338C704' stroke='%23FFF9E9' stroke-width='2'/%3E%3Cpath d='M16 28L24.6667 37L42 19' stroke='%23FFF9E9' stroke-width='4' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_174_41'%3E%3Crect width='56' height='56' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
    
    --icon-chart: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='icon icon-tabler icons-tabler-outline icon-tabler-graph'%3E%3Cpath stroke='none' d='M0 0h24v24H0z' fill='none'/%3E%3Cpath d='M4 18v-12a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2z' /%3E%3Cpath d='M7 14l3 -3l2 2l3 -3l2 2' /%3E%3C/svg%3E");
    --icon-gear: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='icon icon-tabler icons-tabler-outline icon-tabler-settings'%3E%3Cpath stroke='none' d='M0 0h24v24H0z' fill='none'/%3E%3Cpath d='M10.325 4.317c.426 -1.756 2.924 -1.756 3.35 0a1.724 1.724 0 0 0 2.573 1.066c1.543 -.94 3.31 .826 2.37 2.37a1.724 1.724 0 0 0 1.065 2.572c1.756 .426 1.756 2.924 0 3.35a1.724 1.724 0 0 0 -1.066 2.573c.94 1.543 -.826 3.31 -2.37 2.37a1.724 1.724 0 0 0 -2.572 1.065c-.426 1.756 -2.924 1.756 -3.35 0a1.724 1.724 0 0 0 -2.573 -1.066c-1.543 .94 -3.31 -.826 -2.37 -2.37a1.724 1.724 0 0 0 -1.065 -2.572c-1.756 -.426 -1.756 -2.924 0 -3.35a1.724 1.724 0 0 0 1.066 -2.573c-.94 -1.543 .826 -3.31 2.37 -2.37c1 .608 2.296 .07 2.572 -1.065z' /%3E%3Cpath d='M9 12a3 3 0 1 0 6 0a3 3 0 0 0 -6 0' /%3E%3C/svg%3E");
    --icon-connection: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='icon icon-tabler icons-tabler-outline icon-tabler-plug-connected'%3E%3Cpath stroke='none' d='M0 0h24v24H0z' fill='none'/%3E%3Cpath d='M7 12l5 5l-1.5 1.5a3.536 3.536 0 1 1 -5 -5l1.5 -1.5z' /%3E%3Cpath d='M17 12l-5 -5l1.5 -1.5a3.536 3.536 0 1 1 5 5l-1.5 1.5z' /%3E%3Cpath d='M3 21l2.5 -2.5' /%3E%3Cpath d='M18.5 5.5l2.5 -2.5' /%3E%3Cpath d='M10 11l-2 2' /%3E%3Cpath d='M13 14l-2 2' /%3E%3C/svg%3E");
    --icon-youtube: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='icon icon-tabler icons-tabler-outline icon-tabler-brand-youtube'%3E%3Cpath stroke='none' d='M0 0h24v24H0z' fill='none'/%3E%3Cpath d='M2 8a4 4 0 0 1 4 -4h12a4 4 0 0 1 4 4v8a4 4 0 0 1 -4 4h-12a4 4 0 0 1 -4 -4v-8z' /%3E%3Cpath d='M10 9l5 3l-5 3z' /%3E%3C/svg%3E");
    --icon-shop: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='icon icon-tabler icons-tabler-outline icon-tabler-shopping-bag'%3E%3Cpath stroke='none' d='M0 0h24v24H0z' fill='none'/%3E%3Cpath d='M6.331 8h11.339a2 2 0 0 1 1.977 2.304l-1.255 8.152a3 3 0 0 1 -2.966 2.544h-6.852a3 3 0 0 1 -2.965 -2.544l-1.255 -8.152a2 2 0 0 1 1.977 -2.304z' /%3E%3Cpath d='M9 11v-5a3 3 0 0 1 6 0v5' /%3E%3C/svg%3E");
    --icon-speaker: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='icon icon-tabler icons-tabler-outline icon-tabler-volume'%3E%3Cpath stroke='none' d='M0 0h24v24H0z' fill='none'/%3E%3Cpath d='M15 8a5 5 0 0 1 0 8' /%3E%3Cpath d='M17.7 5a9 9 0 0 1 0 14' /%3E%3Cpath d='M6 15h-2a1 1 0 0 1 -1 -1v-4a1 1 0 0 1 1 -1h2l3.5 -4.5a.8 .8 0 0 1 1.5 .5v14a.8 .8 0 0 1 -1.5 .5l-3.5 -4.5' /%3E%3C/svg%3E");
    --icon-chevron: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='icon icon-tabler icons-tabler-outline icon-tabler-chevron-down'%3E%3Cpath stroke='none' d='M0 0h24v24H0z' fill='none'/%3E%3Cpath d='M6 9l6 6l6 -6' /%3E%3C/svg%3E");
    --icon-table: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='icon icon-tabler icons-tabler-outline icon-tabler-table'%3E%3Cpath stroke='none' d='M0 0h24v24H0z' fill='none'/%3E%3Cpath d='M3 5a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v14a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2v-14z' /%3E%3Cpath d='M3 10h18' /%3E%3Cpath d='M10 3v18' /%3E%3C/svg%3E");
    --icon-sliders: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='icon icon-tabler icons-tabler-outline icon-tabler-adjustments-horizontal'%3E%3Cpath stroke='none' d='M0 0h24v24H0z' fill='none'/%3E%3Cpath d='M14 6m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0' /%3E%3Cpath d='M4 6l8 0' /%3E%3Cpath d='M16 6l4 0' /%3E%3Cpath d='M8 12m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0' /%3E%3Cpath d='M4 12l2 0' /%3E%3Cpath d='M10 12l10 0' /%3E%3Cpath d='M17 18m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0' /%3E%3Cpath d='M4 18l11 0' /%3E%3Cpath d='M19 18l1 0' /%3E%3C/svg%3E");
    --icon-close: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='icon icon-tabler icons-tabler-outline icon-tabler-x'%3E%3Cpath stroke='none' d='M0 0h24v24H0z' fill='none'/%3E%3Cpath d='M18 6l-12 12' /%3E%3Cpath d='M6 6l12 12' /%3E%3C/svg%3E");
    --icon-hamburger: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3C!-- Generator: Adobe Illustrator 25.2.3, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 120 120' style='enable-background:new 0 0 120 120;' xml:space='preserve'%3E%3Cpath class='st0' d='M105,65H15c-2.76,0-5-2.24-5-5v0c0-2.76,2.24-5,5-5h90c2.76,0,5,2.24,5,5v0C110,62.76,107.76,65,105,65z'/%3E%3Cpath class='st0' d='M105,20H15c-2.76,0-5-2.24-5-5v0c0-2.76,2.24-5,5-5h90c2.76,0,5,2.24,5,5v0C110,17.76,107.76,20,105,20z'/%3E%3Cpath class='st0' d='M105,110H15c-2.76,0-5-2.24-5-5v0c0-2.76,2.24-5,5-5h90c2.76,0,5,2.24,5,5v0C110,107.76,107.76,110,105,110z'/%3E%3C/svg%3E%0A");
    
    --icon-fave-empty: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='icon icon-tabler icons-tabler-outline icon-tabler-heart'%3E%3Cpath stroke='none' d='M0 0h24v24H0z' fill='none'/%3E%3Cpath d='M19.5 12.572l-7.5 7.428l-7.5 -7.428a5 5 0 1 1 7.5 -6.566a5 5 0 1 1 7.5 6.572' /%3E%3C/svg%3E");
    --icon-fave-full: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='currentColor' class='icon icon-tabler icons-tabler-filled icon-tabler-heart'%3E%3Cpath stroke='none' d='M0 0h24v24H0z' fill='none'/%3E%3Cpath d='M6.979 3.074a6 6 0 0 1 4.988 1.425l.037 .033l.034 -.03a6 6 0 0 1 4.733 -1.44l.246 .036a6 6 0 0 1 3.364 10.008l-.18 .185l-.048 .041l-7.45 7.379a1 1 0 0 1 -1.313 .082l-.094 -.082l-7.493 -7.422a6 6 0 0 1 3.176 -10.215z' /%3E%3C/svg%3E");
}

@font-face {
    font-family: 'Social icons';
    font-weight: 400;
    src: url('fa-brands-400.ttf');
}

html {
    width: 100%;
    height: 100%;
    
    font-family: var(--font-primary);
    font-size: 4px;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: none;
    
    scrollbar-color: var(--color-cream) var(--color-white);
    scrollbar-color: var(--color-shade-light) var(--color-cream);
    scroll-behavior: smooth;
}

@media (max-width: 900px) {
    html {
        font-size: 3px;
    }
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    margin: 0;
    
    font-size: 4rem;
    font-weight: 400;
    line-height: 1em;
    letter-spacing: -0.02em;
    
    background-color: var(--color-cream);
    
    overflow-x: hidden;
    scrollbar-gutter: stable;
}

/* -----
Site header */

header.site-header {
    position: sticky;
    top: 0;
    z-index: 100;
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    flex: 48px 0 0;
    width: 100%;
    
    background-color: var(--color-brown);
    
    overflow: hidden;
}

button.site-header-toggle {
    display: none;
    
    box-sizing: border-box;
    flex: 36px 0 0;
    height: 36px;
    margin: 0 auto 0 0;
    
    background-color: var(--color-cream);
    border: none;
    
    mask: var(--icon-hamburger);
    -webkit-mask: var(--icon-hamburger);
    mask-size: 20px;
    mask-repeat: no-repeat;
    mask-position: center;
    -webkit-mask-size: 20px;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
    cursor: pointer;
}

div.site-header-logo {
    box-sizing: border-box;
    flex: 75rem 0 0;
    height: 48px;
    padding: 12px 0;
    margin: 0 auto 0 0;
}

a.site-header-logo-link {
    display: block;
    width: 100%;
    height: 100%;
}

img.site-header-logo-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

ul.site-header-links {
    display: flex;
    justify-content: flex-end;
    gap: 0 32px;
    
    flex: auto 0 1;
    margin: 0;
    padding: 0 16px;
}

li.site-header-link-container {
    list-style: none;
    text-align: center;
}

a.site-header-link {
    color: var(--color-white);
    
    font-family: sans-serif;
    font-size: 14px;
    line-height: 1em;
    text-decoration: none;
}

li.site-header-link-container.site-header-links-social {
    display: flex;
    gap: 16px;
}

a.site-header-link.social {
    font-family: 'Social icons', sans-serif;
    font-size: 16px;
    line-height: 14px;
}

@media (max-width: 1470px) {
    button.site-header-toggle {
        display: block;
    }
    
    div.site-header-logo {
        flex-grow: 1;
        margin: 0 36px 0 0;
    }
    
    ul.site-header-links {
        position: fixed;
        top: 48px;
        left: 0;
        z-index: 20;
        
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        
        box-sizing: border-box;
        width: 100%;
        height: calc(100dvh - 48px);
        
        background-color: var(--color-cream);
        
        transform: translateX(-100vw);
    }
    
    body[data-site-header-links="collapsed"] ul.site-header-links,
    body[data-site-header-links="expanded"] ul.site-header-links {
        transition: transform 0.2s ease;
    }
    
    body[data-site-header-links="expanded"] ul.site-header-links {
        transform: translateX(0);
    }
    
    li.site-header-link-container {
        margin: 48px 0 0 0;
    }
    
    a.site-header-link {
        padding: 16px;
        
        color: var(--color-black);
    }
}



/* -----
Cards basics */

main.list {
    box-sizing: border-box;
    display: flex;
    justify-content: flex-start;
    
    /* Left column + table + center column padding */
    width: calc(75rem + 330rem + 8rem);
    max-width: 100%;
}

section.list-filters-container {
    position: sticky;
    top: 48px;
    left: 0;
    
    box-sizing: border-box;
    flex: 75rem 0 0;
    height: calc(100dvh - 48px);
    
    border-right: var(--border-faint);
    
    overflow-y: scroll;
    overscroll-behavior: contain;
}

section.list-contents-container {
    flex: 330rem 0 1;
    box-sizing: border-box;
    padding: 0 4rem 4rem 4rem;
    
    height: auto;
}

main.list[list-mode='table'] section.list-contents-container {
    padding-bottom: 0;
}

div.list-contents {
}

div.list-contents[list-mode='cards'] {
    max-width: 330rem;
    padding-top: 4rem;
}

div.group-container {
    box-sizing: border-box;
    max-width: 600px;
    max-width: 200rem;
    margin: auto;
    padding: 0 0 4rem 0;
}

article.card-container {
    display: flex;
    flex-direction: column;
    
	border: 1px solid var(--color-orange);
    border-radius: 2rem;
    
    overflow: hidden;
}

article.card-container + article.card-container {
    margin-top: 4rem;
}



/* -----
Filters */

div.list-filters {
    box-sizing: border-box;
    padding: 0 4rem 4rem 4rem;
}

h3 {
    margin-top: 12rem;
}

h4 {
    font-weight: 400;
}

/* -----
Phones missing */

section.filter-result-container {
    position: sticky;
    top: 0;
    z-index: 1;
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    padding: 4rem 0;
    margin: 0 0 4rem 0;
    
    background-color: var(--color-cream);
    border-bottom: var(--border-faint);
    
    color: var(--color-brown);
    font-size: 3rem;
    line-height: 8rem;
}

span.filter-result {
    order: 1;
    
    flex: auto 1 1;
    text-align: center;
}

section.filter-result-container section.control-toggle {
    order: 0;
    display: none;
    
    flex: 8rem 0 0;
    margin: 0 auto 0 0;
}

section.filter-result-container section.control-toggle article.toggle-container {
    padding: 0;
}

section.filter-result-container label.toggle-label {
    width: 8rem;
}

div.phones-missing {
    
}

h3.control-heading {
    margin: 8rem 0 4rem 0;
    
    font-size: 4rem;
    line-height: 1em;
    font-weight: 800;
}

h4.toggle-heading {
    margin: 3rem 0;
    
    font-size: 3rem;
    line-height: 1em;
    font-weight: 400;
}

/* -----
Toggles */

article.toggle-container {
    display: flex;
    align-items: center;
}

section.list-filters-container article.toggle-container {
    padding: 0 0 0 2rem;
}

label.toggle-label {
    position: relative;
    
    display: flex;
    width: 16rem;
    height: 8rem;
    margin: 0 0 0 auto;
    overflow: hidden;
    
    cursor: pointer;
}

label.toggle-label input {
    all: unset;
    
    flex: 0 0 0;
    height: 0;
    
    opacity: 0;
}

label.toggle-label input + span.toggle-slider {
    position: relative;
    
    display: flex;
    justify-content: flex-start;
    box-sizing: border-box;
    
    flex: 16rem 0 0;
    height: 100%;
    background-color: var(--color-shade-light);
    border: 1px solid var(--color-shade-dark);
    border-radius: 4rem;
    box-shadow: inset 0 1rem 1rem rgba(0,0,0, 0.05);
    
    transition: justify-content 0.4s ease;
}

label.toggle-label input + span.toggle-slider:before {
    position: absolute;
    top: 0;
    left: 0;
    
    content: '';
    box-sizing: border-box;
    width: calc(8rem - 2px);
    height: calc(8rem - 2px);
    
    border: 1px solid var(--color-shade-dark);
    background-color: var(--color-shade-light);
    border-radius: 8rem;
    
    transition: left 0.1s ease;
}

label.toggle-label input:checked + span.toggle-slider {
    background-color: var(--color-cream);
    border: 1px solid var(--color-shade-dark);
}

label.toggle-label input:checked + span.toggle-slider:before {
    left: auto;
    left: calc(8rem);
    
    background-color: var(--color-orange);
    border: 1px solid var(--color-orange);
}

section.list-filters-container article.toggle-container {
    
}

/* -----
Inputs */

section.control-search {
    margin-top: 6rem;
}

section.control-search h3 {
    display: none;
}

input.search-input,
input.max,
input.min {
    all: unset;
    
    box-sizing: border-box;
    height: 8rem;
    padding: 0 3rem;
    
    border-radius: 4rem;
    
    background-color: var(--color-shade-light);
    border: 1px solid var(--color-shade-dark);
    box-shadow: inset 0 1rem 1rem rgba(0,0,0, 0.05);
    
    color: var(--color-black);
    font-family: var(--font-primary);
    font-size: 3rem;
    line-height: 4rem;
}

input.search-input::placeholder,
input.max::placeholder,
input.min::placeholder {
    color: var(--color-gray-dark);
}

input.search-input:not(:placeholder-shown),
input.max:not(:placeholder-shown),
input.min:not(:placeholder-shown) {
    background-color: var(--color-cream);
    border: 1px solid var(--color-orange);
}

input.search-input {
    width: 100%;
}

section.control-dropdown:not([active-bracket="custom"]) + section.control-price {
    display: none;
}

section.control-price h3 {
    margin-top: 0;
}

form.price {
    display: flex;
    justify-content: space-between;
}

input.max,
input.min {
    display: block;
    width: calc(50% - 1rem);
}

input.min {
    margin: 0 0 2rem 0;
}

/* -----
Dropdown */

section.control-dropdown {
    position: relative;
}

section.control-dropdown:after {
    position: absolute;
    bottom: 1.5rem;
    right: 1rem;
    
    content: '';
    display: block;
    width: 5rem;
    height: 5rem;
    margin: 0 1rem 0 0;
    
    background-color: var(--color-orange);
    
    mask-image: var(--icon-chevron);
    -webkit-mask-image: var(--icon-chevron);
    
    mask-size: 100%;
    mask-repeat: no-repeat;
    mask-position: center;
    -webkit-mask-size: 100%;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
}

select.controls-dropdown {
    position: relative;
    
    width: 67rem;
    max-width: 100%;
    height: 8rem;
    padding: 0 3rem;
    
    background-color: var(--color-cream);
    border: 1px solid var(--color-orange);
    border-radius: 8rem;
    outline: none;
    
    color: var(--color-black);
    font-family: var(--font-primary);
    font-size: 3rem;
    line-height: 4rem;
    
    cursor: pointer;

    -webkit-appearance: none;
    -moz-appearance: none;
}

section[control-id="filtersOverlay"] h3,
section[control-id="filtersOverlay"] h4,
section[control-id="filtersOverlayClose"] h3,
section[control-id="filtersOverlayClose"] h4,
section[control-id="listMode"] h3,
section[control-id="listMode"] h4 {
    display: none;
}

section[control-id="filtersOverlay"] {
    display: none;
}

section[control-id="filtersOverlay"],
section[control-id="filtersOverlayClose"] {
    padding: 0 4rem 0 0;
    margin: 0 4rem 0 0;
    
    border-right: var(--border-faint);
}

section[control-id="filtersOverlay"] label.toggle-label {
    width: 8rem;
}

section[control-id="listMode"] label.toggle-label {
    width: 25rem;
}

section[control-id="filtersOverlay"] label:before,
section[control-id="filtersOverlayClose"] label:before,
section[control-id="listMode"] label:before {
    content: '';
    display: inline-block;
    
    flex: 8rem 0 0;
    height: 8rem;
    margin: 0;
    
    background-color: var(--color-orange);
    
    mask-image: var(--icon-sliders);
    -webkit-mask-image: var(--icon-sliders);
    
    mask-size: 100%;
    mask-repeat: no-repeat;
    mask-position: center;
    -webkit-mask-size: 100%;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
}

body[filters-overlay="true"] section[control-id="filtersOverlay"] label:before,
body[filters-overlay="true"] section[control-id="filtersOverlayClose"] label:before {
    mask-image: var(--icon-close);
    -webkit-mask-image: var(--icon-close);
}

section[control-id="listMode"] label:before {
    margin: 0 1rem 0 0;
    
    mask-image: var(--icon-table);
    -webkit-mask-image: var(--icon-table);
}

section[control-id="filtersOverlay"] label.toggle-label input,
section[control-id="filtersOverlay"] label.toggle-label span.toggle-slider,
section[control-id="filtersOverlayClose"] label.toggle-label input,
section[control-id="filtersOverlayClose"] label.toggle-label span.toggle-slider {
    display: none;
}

/* -----
List manager */

section.list-manager-container {
    position: sticky;
    top: 48px;
    z-index: 2;
    
    display: flex;
    padding: 4rem 0;
    
    background-color: var(--color-cream);
    border-bottom: var(--border-faint);
}

main.list[list-mode="table"] section.list-manager-container {
}

div.list-manager {
    display: flex;
    flex: auto 1 1;
}

div.list-manager section.control-toggle {
    flex: auto 0 0;
}

div.list-manager section.control-dropdown {
    flex: auto 0 0;
    
    margin: 0 0 0 auto;
}

section.list-manager-container h3 {
    display: none;
}


/* -----
Card header */

h2.price-bracket-heading {
    position: sticky;
    top: calc(16rem + 1px + 48px);
    z-index: 1;
    
    padding: 12rem 0 4rem 0;
    margin: 0 0 4rem 0;
    
    background-color: var(--color-cream);
    border-bottom: var(--border-faint);
    
    color: var(--color-brown);
    font-size: 6rem;
    line-height: 1em;
    text-align: right;
}

h2.price-bracket-heading:first-child {
    margin-top: -4rem;
}

section.card-header {
    display: flex;
    align-items: center;
    
    padding: 4rem;
    
    border-bottom: 1px solid var(--color-orange);
}

div.phone-id {
	flex: auto 1 1;
}

div.phone-brand {
	font-size: 4rem;
    line-height: 6rem;
}

div.phone-model {
    font-weight: 700;
	font-size: 6rem;
    line-height: 6rem;
}

div.phone-tested  {
	flex: 10rem 0 0;
    height: 10rem;
    
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

div.phone-tested[crin-tested='yes'] {
	background-image: var(--icon-tested-new);
}

div.phone-tested[crin-approved='yes'] {
	background-image: var(--icon-approved-new);
}



/* -----
Card body */

section.card-body {
	display: flex;
}

div.phone-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
	flex: auto 1 1;
    
    padding: 4rem;
}

div.phone-detail-item {
    display: flex;
    align-items: center;
    
    padding: 5rem 0 4rem 0;
    
    border-bottom: 1px solid transparent;
    
    font-size: 4rem;
    line-height: 5rem;
}

div.phone-detail-item + div.phone-detail-item {
    margin-top: 1rem;
    
    border-top: var(--border-faint);
}

div.phone-links {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    
	flex: 50rem 0 0;
    padding: 4rem;
}

a.phone-link {
    display: flex;
    align-items: center;
    
    padding: 4rem;
    
    border: 1px solid var(--color-orange);
    border-radius: 2rem;
    
    color: var(--color-orange);
    font-size: 4rem;
    line-height: 5rem;
    text-decoration: none;
}

a.phone-link + a.phone-link {
    margin-top: 2rem;
}

a.phone-link-fave {
    cursor: pointer;
}

a.phone-link-fave[is-user-fave="true"] {
    background-color: var(--color-red);
    border: 1px solid var(--color-red);
    
    color: var(--color-cream);
}

a.phone-link-store {
	background-color: var(--color-orange);
    border: 1px solid var(--color-orange);
    
    color: var(--color-cream);
}

a.phone-link-store:not([href]) {
    background-color: var(--color-gray-light);
    border: 1px solid var(--color-gray-light);
    
    color: var(--color-gray-dark);
}

a.phone-link-store:not([href]) {
}

span.phone-store-price {
    margin: 0 0 0 auto;
    
    font-weight: 800;
    font-size: 5rem;
    line-height: 5rem;
}



/* -----
Card body: Icons */

div.phone-detail-item:before,
a.phone-link:before {
    content: '';
    flex: 5rem 0 0;
    height: 5rem;
    margin: 0 1rem 0 0;
    
    background-color: var(--color-orange);
    
    mask-image: var(--icon-gear);
    -webkit-mask-image: var(--icon-gear);
    
    mask-size: 100%;
    mask-repeat: no-repeat;
    mask-position: center;
    -webkit-mask-size: 100%;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
}

a.phone-link:before {
    background-color: currentColor;
}

div.phone-signature:before {
    mask-image: var(--icon-chart);
    -webkit-mask-image: var(--icon-chart);
}

div.phone-drivers:before {
    mask-image: var(--icon-gear);
    -webkit-mask-image: var(--icon-gear);
}

div.phone-connection:before {
    mask-image: var(--icon-connection);
    -webkit-mask-image: var(--icon-connection);
}

div.phone-demo:before {
    display: none;
}

a.phone-link-fave:before {
    mask-image: var(--icon-fave-empty);
    -webkit-mask-image: var(--icon-fave-empty);
}

a.phone-link-fave[is-user-fave="true"]:before {
    mask-image: var(--icon-fave-full);
    -webkit-mask-image: var(--icon-fave-full);
}

a.phone-link-showcase:before {
    mask-image: var(--icon-youtube);
    -webkit-mask-image: var(--icon-youtube);
}

a.phone-link-measurement:before {
    mask-image: var(--icon-chart);
    -webkit-mask-image: var(--icon-chart);
}

a.phone-link-store:before {
    mask-image: var(--icon-shop);
    -webkit-mask-image: var(--icon-shop);
}


/* -----
Card footer */

section.card-footer {
	display: flex;
    justify-content: center;
    align-items: center;
    
    border-top: 1px solid var(--color-gray-dark);
    background-color: var(--color-gray-light);
    
    color: var(--color-cream);
    color: var(--color-gray-dark);
    font-size: 4rem;
    line-height: 1em;
    text-transform: uppercase;
    letter-spacing: 0.06em;
}

div.phone-status {
    padding: 2rem;
}

section.card-footer:has(div.phone-status:not([status='discontinued'])) {
	display: none;
}



/* -----
Tested styles */

article[data-tested="true"] {
    background-color: var(--color-white);
}

article[data-tested="true"] section.card-header {
    background-color: var(--color-white);
}



/* -----
Approved styles */

article[data-approved="true"] {
    background-color: var(--color-white);
}



/* -----
Approved styles: Half dark */

article[data-approved="true"] section.card-header  {
    background-color: var(--color-orange);
    border-color: var(--color-cream);
    
    color: var(--color-white);
}

article[data-approved="true"] div.phone-tested[crin-approved='yes'] {
	background-image: var(--icon-approved-new);
}



/* -----
Discontinued styles */

article[data-discontinued="true"] {
    background-color: var(--color-gray-light);
    border-color: var(--color-gray-dark);
}

article[data-discontinued="true"] section.card-header {
    background-color: transparent;
    border-bottom: 1px solid var(--color-gray-dark);
    
    color: var(--color-gray-dark);
}

article[data-discontinued="true"] div.phone-detail-item {
    border-top-color: var(--color-gray-dark);
    
    color: var(--color-gray-dark);
}

article[data-discontinued="true"] a.phone-link {
    border-color: var(--color-gray-dark);
    
    color: var(--color-gray-dark);
}

article[data-discontinued="true"] a.phone-link-store:not([href]) {
    background-color: var(--color-gray-light);
    border: 1px var(--border-faint);
    
    color: var(--color-gray-dark);
}

article[data-discontinued="true"] a.phone-link-store {
	background-color: var(--color-orange);
    border: 1px solid var(--color-orange);
    
    color: var(--color-cream);
}

article[data-discontinued="true"] div.phone-tested {
/*    filter: saturate(0%);*/
}

article[data-discontinued="true"] a.phone-link:not(.phone-link-store):before {
    background-color: var(--color-orange);
}



/* -----
Table styles */

main[list-mode="table"] section.list-contents-container {
    max-width: calc(100% - 75rem);
}

div.list-contents[list-mode="table"] {
    box-sizing: border-box;
    max-width: 330rem;
    padding: 0 0rem 4rem 0;
    
    overflow-x: scroll;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
}

section.list-table {
    display: table;
    width: 330rem;
    
    font-size: 3rem;
    line-height: 1em;
}

article.table-head,
article.table-phone-container {
    display: block;
}

section.list-table div {
    display: table-cell;
}

div.list-contents[list-mode="table"] div.group-container {
    width: 330rem;
    max-width: none;
}



/* -----
Table column widths */

section.list-table {
}

div.table-head-name,
div.table-phone-name {
    box-sizing: border-box;
    display: table-cell;
    width: 60rem;
}

div.table-head-tested,
div.table-head-fave,
div.table-phone-tested,
div.table-phone-fave {
    box-sizing: border-box;
    display: table-cell;
    width: 20rem;
}

div.table-head-buy,
div.table-phone-buy {
    box-sizing: border-box;
    display: table-cell;
    width: 30rem;
}

div.table-head-demoable,
div.table-phone-demoable {
    box-sizing: border-box;
    display: table-cell;
    width: 30rem;
}

div.table-head-showcase,
div.table-phone-showcase {
    box-sizing: border-box;
    display: table-cell;
    width: 30rem;
}

div.table-head-measurement,
div.table-phone-graph {
    box-sizing: border-box;
    display: table-cell;
    width: 30rem;
}

div.table-head-signature,
div.table-phone-signature {
    box-sizing: border-box;
    display: table-cell;
    width: 50rem;
}

div.table-head-drivers,
div.table-phone-drivers {
    box-sizing: border-box;
    display: table-cell;
    width: 30rem;
}

div.table-head-connection,
div.table-phone-connection {
    box-sizing: border-box;
    display: table-cell;
    width: 30rem;
}


/* -----
Table header */

section.list-table.table-header {
    position: sticky;
    top: calc(16rem + 1px + 48px);
    z-index: 2;
    
    display: block;
    width: 100%;
    
    overflow-x: scroll;
}

article.table-head {
    width: 330rem;
    background-color: var(--color-shade-faux);
}

article.table-head div {
    text-align: center;
    vertical-align: middle;
    
    box-sizing: border-box;
    padding: 4rem 2rem;
    
    background-color: var(--color-shade-faux);
    border-bottom: var(--border-faint);
}

article.table-head div.table-head-name {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 2;
    
    text-align: left;
    
    padding: 4rem;
    
    background: linear-gradient(to right, var(--color-shade-faux) calc(100% - 4rem), transparent);
}

div.table-head-tested {
    text-align: center;
}

div.table-head-buy {
    text-align: center;
}

div.table-head-demoable,
div.table-head-showcase,
div.table-head-measurement,
div.table-head-connection {
    text-align: center;
}

div.table-head-signature,
div.table-head-drivers {
    text-align: center;
}

div.table-head-connection {
}

/* -----
Phone items */

main[list-mode="table"] div.group-container {
    display: table;
}

article.table-phone-container {
    
}

article.table-phone-container div {
    vertical-align: middle;
    
    border-bottom: var(--border-faint);
}

div.list-contents[list-mode="table"] article.table-phone-container div + div {
    border-left: 1px solid transparent;
}


/* ----
Specific cell styles */

div.table-phone-name {
    position: sticky;
    left: 0;
    z-index: 1;
    
    
    box-sizing: border-box;
    width: 60rem;
    height: 16rem;
    padding: 4rem;
    
    font-size: 4rem;
    line-height: 1em;
    font-weight: 800;
    
    background: linear-gradient(to right, var(--color-cream) calc(100% - 4rem), transparent);
}

div.table-phone-tested {
    padding: 0 2rem;
    
    vertical-align: middle;
    text-align: center;
}

div.table-phone-tested:before {
    content: '';
    
    display: inline-block;
    width: 6rem;
    height: 6rem;
    
    line-height: 4rem;
    
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

div.table-phone-tested[crin-tested='yes']:before {
	background-image: var(--icon-tested-new);
}

div.table-phone-tested[crin-approved='yes']:before {
	background-image: var(--icon-approved-new);
}

div.table-phone-fave {
    padding: 0 2rem;
    
    vertical-align: middle;
    text-align: center;
    
    cursor: pointer;
}

div.table-phone-fave:before {
    content: '';
    
    display: inline-block;
    width: 6rem;
    height: 6rem;
    
    line-height: 4rem;
    
    background-color: var(--color-orange);
    
    mask-image: var(--icon-fave-empty);
    -webkit-mask-image: var(--icon-fave-empty);
    
    mask-size: 100%;
    mask-repeat: no-repeat;
    mask-position: center;
    -webkit-mask-size: 100%;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
}

div.table-phone-fave[is-user-fave='true']:before {
    background-color: var(--color-red);
    
    mask-image: var(--icon-fave-full);
    -webkit-mask-image: var(--icon-fave-full);
}

div.table-phone-demoable {
    text-align: center;
    vertical-align: middle;
    
    font-size: 3rem;
}

div.table-phone-demoable:before {
    content: 'No';
    
    color: var(--color-gray-dark);
}

div.table-phone-demoable[data-demoable="true"]:before {
    content: 'Yes';
    
    color: var(--color-orange);
}

div.table-phone-buy {
    
}

a.table-phone-buy-link {
    display: flex;
    align-items: center;
    
    padding: 2rem;
    
    background-color: var(--color-orange);
    border-radius: 2rem;
    
    color: var(--color-cream);
    text-decoration: none;
}

a.table-phone-buy-link[href]:before {
    content: '';
    flex: 5rem 0 0;
    height: 5rem;
    margin: 0 1rem 0 0;
    
    background-color: var(--color-cream);
    
    mask-image: var(--icon-shop);
    -webkit-mask-image: var(--icon-shop);
    
    mask-size: 100%;
    mask-repeat: no-repeat;
    mask-position: center;
    -webkit-mask-size: 100%;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
}

a.table-phone-buy-link:not([href]) {
    background-color: transparent;
    
    color: var(--color-gray-dark);
}

span.table-phone-price {
    margin-left: auto;
    
    font-size: 4rem;
    line-height: 1em;
}

div.table-phone-showcase {
    text-align: center;
}

a.table-phone-showcase-link {
    display: inline-block;
    
    box-sizing: border-box;
    width: 14rem;
    height: 9rem;
    
    border: 1px solid var(--color-orange);
    border-radius: 2rem;
}

a.table-phone-showcase-link:before {
    content: '';
    display: inline-block;
    width: 5rem;
    height: calc(9rem - 2px);
    
    background-color: var(--color-orange);
    
    mask-image: var(--icon-youtube);
    -webkit-mask-image: var(--icon-youtube);
    
    mask-size: 100%;
    mask-repeat: no-repeat;
    mask-position: center;
    -webkit-mask-size: 100%;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
}

div.table-phone-graph {
    text-align: center;
}

a.table-phone-graph-link {
    display: inline-block;
    
    box-sizing: border-box;
    width: 14rem;
    height: 9rem;
    
    border: 1px solid var(--color-orange);
    border-radius: 2rem;
}

a.table-phone-graph-link:before {
    content: '';
    display: inline-block;
    width: 5rem;
    height: calc(9rem - 2px);
    
    background-color: var(--color-orange);
    
    mask-image: var(--icon-chart);
    -webkit-mask-image: var(--icon-chart);
    
    mask-size: 100%;
    mask-repeat: no-repeat;
    mask-position: center;
    -webkit-mask-size: 100%;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
}

div.table-phone-signature,
div.table-phone-drivers,
div.table-phone-connection {
    padding: 2rem;
    
    text-align: center;
    vertical-align: middle;
    
    font-size: 3rem;
}

/* -----
Discontinued */

article.table-phone-container[status="discontinued"] {
    background-color: var(--color-gray-light);
    
    color: var(--color-gray-dark);
}

article.table-phone-container[status="discontinued"] div.table-phone-name {
    background: linear-gradient(to right, var(--color-gray-light) calc(100% - 4rem), transparent);
}



/* -----
Mobile styles */

@media (max-width: 690px) {
    html {
        font-size: 4px;
    }

    section.filter-result-container section.control-toggle,
    section[control-id="filtersOverlay"] {
        display: inherit;
    }
    
    main.list {
        position: relative;
        flex-direction: column;
    }
    
    section.list-filters-container {
        position: fixed;
        top: 48px;
        left: 0;
        z-index: 2;
        
        order: 1;
        
        display: block;
        box-sizing: border-box;
        width: 100%;
        height: calc(100dvh - 48px);
        padding-bottom: 0;
      
        background-color: var(--color-cream);
        overflow-y: scroll;
        
        transform: translateY(-100vh);
        opacity: 0.0;
        transition: transform 0.2s ease, opacity 0.2s ease;
    }
    
    section.filter-result-container {
        position: sticky;
        top: 0;
        
        padding: 4rem 0;
    }
    
    div.list-filters {
        width: 100%;
        border-right: none;
    }
    
    section.list-contents-container {
        position: sticky;
        top: 0;
        z-index: 1;
        
        order: 0;
        
        flex: auto 0 0;
        height: auto;
    }
    
    body[filters-overlay="true"] {
        overflow: clip;
    }
    
    body[filters-overlay="true"] main.list {
        flex: auto 1 1;
    }
    
    body[filters-overlay="true"] section.list-filters-container {
        transform: translateY(0);
        opacity: 1.0;
    }
    
    body[filters-overlay="true"] section.table-header,
    body[filters-overlay="true"] div.list-contents {
/*        display: none;*/
    }

    div.list-contents {
        margin: auto;
    }
    
    main[list-mode="table"] section.list-contents-container {
        max-width: 100vw;
    }
    
    section.control-dropdown[active-bracket] select {
        width: 100%;
    }
}

@media (max-width: 530px) {
    html {
        font-size: 3px;
    }
    
    section.filter-result-container,
    h4.toggle-heading,
    input.search-input,
    input.max,
    input.min,
    select.controls-dropdown,
    section.list-table,
    div.table-phone-demoable,
    div.table-phone-signature,
    div.table-phone-drivers,
    div.table-phone-connection {
        font-size: 4rem;
    }
    
    select.controls-dropdown {
        width: 50rem;
    }
    
    div.table-head-name,
    div.table-phone-name {
        width: 50rem;
    }
    
    div.table-head-tested,
    div.table-phone-tested {
        width: 25rem;
    }
    
    div.table-head-drivers,
    div.table-phone-drivers {
        width: 35rem;
    }
}